name: SQA Project CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas numpy

    - name: Run fuzz tester
      run: |
        echo "Running fuzz.py..."
        export PYTHONPATH=$PYTHONPATH:MLForensics-farzana
        python -m FAME_ML.fuzz


    - name: Upload crash logs (if any)
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: fuzz-crashes
        path: fuzz-results/
